img {
 max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
}

.note {
  font-style: oblique;
  font-size: .8rem;
}
