---
layout: default
title: Developer Journal
description: Devbecca is a live development journal. Follow along as the site itself is built from the ground up (started as raw HTML). You can also read drafts of articles as they are being written! Total transparency on the journey to becoming language agnostic.
keywords: programming, developer, journal, design, code, snippets
---

<main>

<h1>Developer Journal</h1>

<section class="intro">

  <p>I document most of the things I'm learning as I'm learning them. This
includes step by step installation commands, any advice/feedback, article
snippets and sources, questions I have etc. Your mind is for having ideas,
not for holding them - David Allen.</p>

  <p class="note">This site was purposely published in a raw HTML state to begin
  with, so that the focus could be on sharing content without having to wait for
  the design to be 'finished'.</p>

  <p>Also, I'm learning <a href="learning-russian.html">Russian</a></p>

</section>

<h2 class="title">Journal Entries 2019 <span></span></h2>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%m" %}
  {% if currentdate != date %}
    {% unless forloop.first %}
      </ul>
    {% endunless %}
    <p>{{ post.date | date: "%B %Y" | upcase }}</p>
    <ul class="post-list">
    {% assign date = currentdate %}
  {% endif %}
    <li class="post-list__item">
      <h2>
        <time date="{{ post.date }}">{{ post.date | date: "%d" }}</time>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
    </li>
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}

</main>
