---
layout: default
title: Developer Journal
description: Devbecca is a live development journal. Follow along as the site itself is built from the ground up (started as raw HTML). You can also read drafts of articles as they are being written! Total transparency on the journey to becoming language agnostic.
keywords: programming, developer, journal, design, code, snippets
---

<main>

<h1>Developer Journal</h1>

<section class="intro">

  <p>This live developer journal is for capturing the raw learning process on the journey to always becoming a better developer. Often, we are too afraid to share our failures, misunderstandings and struggles, but these are the moments that hold the keys for improvement. They are worth sharing.</p>

  <p>While I build a lot of programs and read a lot of technical resources, many of the things that influence me have nothing to do, but also everything to do with tech. When I'm reading a book about Stoic philosophy, articles about minimalism, listening to The Impact Theory podcast or exploring ideas from different fields, I will catch myself writing down ideas that inspire me to experiment with my craft in unconventional and exciting ways.</p>

  <p>The best analogy for this developer journal then is that it is a compost heap, one that is made up of ideas caught from all disciplines. Over time, these ideas crumble down and create a rich fertilizer that grows a garden of hybrid knowledge plants, a garden that is never the same from one day to the next.</p>

</section>

<h2 class="title">Journal Entries 2019 <span></span></h2>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%m" %}
  {% if currentdate != date %}
    {% unless forloop.first %}
      </ul>
    {% endunless %}
    <p>{{ post.date | date: "%B %Y" | upcase }}</p>
    <ul class="post-list">
    {% assign date = currentdate %}
  {% endif %}
    <li class="post-list__item">
      <h2>
        <time date="{{ post.date }}">{{ post.date | date: "%d" }}</time>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
    </li>
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}

</main>
