<nav class="navigation">

  <ul class="social-media">
    <li class="social-media__icon" title="github">
      <a href="https://github.com/Becca9941" target="_blank"><i class="fab fa-github"></i></a>
    </li>
    <li class="social-media__icon" title="codepen">
      <a href="https://codepen.io/Becca941" target="_blank"><i class="fab fa-codepen"></i></a>
    </li>
    <li class="social-media__icon" title="twitter">
      <a href="https://twitter.com/Becca9941" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="social-media__icon" title="instagram">
      <a href="https://www.instagram.com/becca99941/" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
  </ul>

  <a href="/">
    <img class="logo" src="/assets/img/devbecca.svg" alt="" title="Home Page">
  </a>

  <button class="show-site-links" title="Site Links"><span>M</span><span>E</span><span>N</span><span>U</span></button>

  <nav class="site-menu hidden">
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
  </nav>

  <article class="progress">
    <section class="bar"></section>
  </article>
</nav>
