<nav class="nav-main">

  <ul class="social-media">
    <li class="social-media__icon">
      <a href="#" target="_blank"><i class="fab fa-github"></i></a>
    </li>
    <li class="social-media__icon">
      <a href="#" target="_blank"><i class="fab fa-codepen"></i></a>
    </li>
    <li class="social-media__icon">
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="social-media__icon">
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
  </ul>

  <a href="/">
    <img class="logo" src="/assets/img/devbecca.svg" alt="">
  </a>

  <button class="show-site-links">MENU</button>

  <nav class="nav-site-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
  </nav>

</nav>
