pre, code {
  background-color: rgba($mint, .2);
  border: dashed 2px rgba($brand-grey, .4);
  padding: 0 1rem;
  overflow: scroll;
  font-family: verdana;
  font-weight: bold;
}

code {
  padding: .5rem;
  line-height: 2.2rem;
}

pre code {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: unset;
}
