body {
  margin: 0;
  color: $brand-grey;
}

.hidden {
  display: none;
}

.introduction {
  padding: .2rem;
  vertical-align: middle;

  p:first-of-type {
    margin-top: .2rem;
  }

  .dev-journal-img {
    max-width: 20rem;
    float: left;
  }

}

@media only screen and (max-width: 600px) {
  .introduction {
    .dev-journal-img {
      float: none;
    }
  }
}
