body {
  margin: 0;
  color: $brand-grey;
}

.hidden {
  display: none;
}

.main-title {
  margin-top: 2rem;
}

.introduction {
  padding: .2rem;
  vertical-align: middle;

  p:first-of-type {
    margin-top: .2rem;
  }

  .dev-journal-img {
    max-width: 20rem;
    float: left;
  }

}

.mobile-screen {
  max-width: 340px;
  max-height: 640px;
  box-shadow: 1px 3px 3px lightgrey;
}

@media only screen and (max-width: 780px) {
  .introduction {
    .dev-journal-img {
      float: none;
      max-width: 40rem;
      margin-bottom: 2rem;
    }
  }
}
